* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.error {
  color: red;
  max-width: 400px;
  font-size: 14px;
}

.password-box {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.password-box input {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.password-input-container {
  display: flex;
  gap: 9px;
}

.password-success-message {
  color: green;
  font-size: 13px;
}

.check-strength {
  padding: 5px 10px;
  border-radius: 5px;
}

.strength-meter {
  height: 8px;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.strength-bar {
  height: 100%;
  transition: width 0.3s ease;
}

.eye {
  height: 20px;
}

.form-group {
  border: 1px solid black;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
